.product-wrapper {
  text-align: center;
  margin-top: 1em;
  .product-title {
    padding: 0;
    margin: 0 0 0.5em;
  }
  .product-image {
    width: 100%;
  }
  .product-description {
    background-color: $gray-darker;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .product-specs {
    display: flex;
    background-color: $gray-darker;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1em 2em;
    margin-top: 5px;
    strong {
      background-color: #2ecc71;
      color: $gray-base;
      border: 1px solid $gray-lighter;
      border-radius: 1px;
      padding: 5px;
      width: 50%;
    }
    strong.sold-out {
      background-color: #c0392b;
    }
  }
}
