.btn-category {
  text-align: center;
  background-color: #fff;
  padding: 5em;
  border-radius: 1px;
  border: 1px solid #000;
  cursor: pointer;
  &:hover {
    transition: 0.5s ease-in;
    background-color: $brand-success;
    border: 1px solid #fff;
    color: #fff;
    a {
      transition: 0.5s ease-in-out;
      color: #fff;
    }
  }
}
