<div class="fluid-container">

  <div class="cart-container">
    <h1>Cart</h1>
    <div class="cart-items" ng-repeat="item in items.contents">
      <div class="cart-list">
        <a ng-href="#/product/{{item.id}}">{{ item.title }}</a>
        <strong>{{ item.price | currency }}</strong>
        <p>Quantity:
          {{ item.quantity }}</p>
        <p>Item total:
          {{ item.quantity * item.price | currency}}</p>
        <hr>
      </div>
    </div>

    <div class="totes">
      <h3>Total:
        {{ total }}</h3>
    </div>

    <a ng-href="#/checkout">
      <button class="btn btn-checkout" type="button" name="button">Checkout</button>
    </a>
  </div>

</div>
