<div class="container text--center" ng-controller="ProductCtrl as product">

  <div class="row">
    <div class="col-md-12">
      <h1 class="product-title">{{ product.item.title }}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <img class="product-image" src="{{product.item.images[0].url.http}}" alt="{{product.item.title}}"/>
    </div>

    <div class="col-sm-6">
      <product-spec>
        <div class="product-description">
          <p>Description:
            {{ item.description }}
          </p>
        </div>
        <div class="product-specs">
          <strong ng-repeat="info in info.specs">{{ info }}</strong>
          <strong ng-if="product.stock()">{{ info.stock }}</strong>
          <strong class="sold-out" ng-if="!stock()">{{ info.stock }}</strong>
        </div>
        <button
          ng-if="!addStatus"
          ng-click="addCart(info.id)"
          class="btn btn-custom"
          >
          Add to Cart
        </button>
        <button
          ng-if="addStatus"
          class="btn btn-custom btn-custom-success"
          >
          {{ addStatus }}
        </button>
      </product-spec>
    </div>
  </div>
</div>
