<div class="container" ng-controller="ProductCtrl as product">
  <div class="product-wrapper">
    <div class="row">
      <div class="col-md-12">
        <h1 class="product-title">{{ product.info.title }}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <img class="product-image" src="{{product.info.image}}" alt="{{product.info.title}}"/>
      </div>

      <div class="col-sm-6">
        <div class="product-description">
          <p>Description:
            {{ product.info.description }}
          </p>
        </div>
        <div class="product-specs">
          <strong ng-repeat="info in product.info.specs">{{ info }}</strong>
          <strong ng-if="product.stock()">{{ product.info.stock }}</strong>
          <strong class="sold-out" ng-if="!product.stock()">{{ product.info.stock }}</strong>
        </div>
        <button ng-if="!product.addStatus" ng-click="product.addCart(product.info.id)" class="btn btn-custom">Add to Cart</button>
        <button ng-if="product.addStatus" class="btn btn-custom btn-custom-success">{{ product.addStatus }}</button>
      </div>

    </div>
  </div>
</div>
